:root,
body,
html{
  margin: 0;
  padding: 0;

  font-family: monospace;
  background-color: rgb(165, 165, 165);
  color: black;
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

:root::-webkit-scrollbar,
body::-webkit-scrollbar,
html::-webkit-scrollbar{
  display: none;
}